.html {
    scroll-behavior: smooth;
}

.header {
    background-color: rgba(27, 22, 20, 0.98);
    backdrop-filter: blur(8px);
    overflow: hidden;
    width: 100%;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
}
.topnav {
    background-color: rgba(27, 22, 20, 0.98);
    backdrop-filter: blur(8px);
    overflow: hidden;
    width: 100%;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 18px 20px rgba(0, 0, 0, 0.681);
}
.logo {
    box-shadow: 0px 0px 15px white;
    border-radius: 50%;
    max-width: fit-content;
    height: fit-content;
    zoom: 40%;
    /* padding: 1%; */
    margin: 2%;
    display: inline-block;
}
.topnav h1 {
    margin: 0px
}
.topnav h3 {
    margin: 0px;
}
.insta {
    /* float: right; */
    zoom: 7%;
    /* padding: 1%; */
    margin: 2%;
    display: inline-block;
    /* align-self: center; */
}
.bookmarks a {
    background-color: rgba(107, 97, 78, 0.585);
    margin: 15px;
    padding: 10px;
    color: rgb(245, 222, 179);
    border-radius: 10px;
    border: 1px solid white;
    text-decoration: none;
}
.bookmarks a:hover {
    background-color: rgb(48, 44, 36);
}

body {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    background: url(Kiosken.jpg) no-repeat center center;
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Brush Script MT', "Lobster", "Rubik Moonrocks", "Titan One", "Yellowtail", "Shadows Into Light", "Caveat", "Indie Flower", "Permanent Marker", "Courgette", "Kalam", "Bree Serif", "Kaushan Script", "Cookie", "Bradley Hand", cursive;
}

.kulglass {
        /* margin-top: 100px; */
        /* float: left; */
        background-color: rgba(255, 250, 205, 0.705);
        backdrop-filter: blur(8px);
        padding: 25px;
        border-radius: 25px;
        box-shadow: 3px 3px 25px darkgray;
        margin: 2%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: fit-content;
}
.kulglasskopning {
    width:90%;
    margin: 5%;
    /* margin-right: 0; */

    
    /* margin-right: -15%; */
    /* width: fit-content; */
    border-radius: 40px;
    /* margin: 1cm; */
    transform: rotate(3deg);
    box-shadow: 2px 2px 25px black;
    /* display:inline; */
}

.pizza {
    /* float: right; */
    background-color:#b58e72bb;
    backdrop-filter: blur(8px);
    padding: 25px;
    border-radius: 25px;
    /* width: fit-content; */
    box-shadow: 3px 3px 25px darkgray;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.pizzavideo {
    /* height:250px; */
    width: 90%;
    margin: 5%;
    border-radius: 40px;
    /* margin: 10%; */
    /* margin-right: 50px; */
    transform: rotate(-3deg);
    box-shadow: 2px 2px 25px black;
}

.dricka {
    background-color:rgba(116, 180, 180, 0.771);
    /* float: left; */
    padding: 25px;
    border-radius: 25px;
    width: fit-content;
    box-shadow: 3px 3px 25px darkgray;
    margin: 2%;
    display: flex;
    flex-wrap:wrap;
    backdrop-filter: blur(8px);
    align-items: center;
    /* justify-content: space-evenly; */
}
.dricka img {
    /* height:200px; */
    width: 90%;
    max-width:400px;
    margin: 5%;
    border-radius: 40px;
    /* margin: 1cm; */
    /* margin-right: 50px; */
    transform: rotate(3deg);
    box-shadow: 2px 2px 25px black;
}

.öppetider {
    height: fit-content;
    width: fit-content;
    background-color:rgba(202, 202, 202, 0.771);
    /* float: right; */
    padding: 25px;
    border-radius: 25px;
    box-shadow: 3px 3px 25px darkgray;
    margin: 5%;
    backdrop-filter: blur(8px);
    white-space: nowrap;
}

.eventkväll {
    background-color:rgba(202, 202, 202, 0.771);
    /* float: right; */
    padding: 25px;
    border-radius: 25px;
    width: fit-content;
    box-shadow: 3px 3px 25px darkgray;
    margin: 5%;
    backdrop-filter: blur(8px);
    white-space: nowrap;
}

#eventoöppetid {
    justify-content: space-between;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    width: fit-content
}

.instagrambilder {
    background-color:rgba(116, 180, 118, 0.771);
    /* float: right; */
    padding: 25px;
    border-radius: 25px;
    width: fit-content;
    box-shadow: 3px 3px 25px darkgray;
    margin: 2%;
    backdrop-filter: blur(8px);
    align-items: center;
}


#v0 {
    height:300px;
    border-radius: 40px;
    margin: 10%;
    margin-right: 50px;
    transform: rotate(3deg);
    box-shadow: 2px 2px 25px black;
    align-self: center;
}


.bottombar {
    height: fit-content;
    width: 100%;
    background-color: rgba(27, 22, 20, 0.98);
    backdrop-filter: blur(8px);
    box-shadow: 0px -5px 20px black;
    text-align: center;
    /* float:none; */
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    z-index: 10;
    color: wheat;
    padding-bottom: 3%;
    flex-wrap: wrap;
}

.bottombar p {
    margin-top: 0;
    margin: .5%;
}